.search-container{
display: flex;
flex-flow: column wrap;
height: 300px;
margin: 25px;
}

.logo-container{
    align-self: flex-start;
    width: 120px;
    height: auto;
}

.input-button-container{
    display: flex;
    align-self: center;
    flex-flow: column wrap;
    width: 30%;
    height: 45%;
}

.input-container{
    width: 100%;
}

.buttons-container{
    display: flex;
    margin: 15px;
    justify-content: space-between;
}

.title-genre-button-container{
    display: flex;
    width: 45%;
    justify-content: space-around;
}

button > span{
    display: flex;
    flex-direction: row;
}

.btn {
  border: none;
  background-color: inherit;
  /* padding: 14px 28px;
  font-size: 16px; */
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}

.movies-search{
    display: flex;
    flex-direction: row;
    height: 30%;
    justify-content: space-between;
}

.release-rating{
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-between;
}
