.search-container{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    height: 200px;
}

.search-container-name-style{
    background-color: red;
    width: 5%;
    margin: 20px;
}

.search-container-input-style{
    width: 30%;
    align-self: center;
}

.search-container-button-style{
    display: flex;
    flex-flow: wrap;
    align-self: center;
    align-items: flex-end;
    justify-content: space-between;
    height: 30%;
    width: 30%;
}

.search-container-search-by-button-style{
    flex-flow: wrap;
    display: flex;
    justify-content: space-between;
    width: 30%;
}
