.search-container{
display: flex;
flex-flow: column wrap;
height: 200px;
margin: 25px;
}

.logo-container{
    align-self: flex-start;
    width: 120px;
    height: auto;
}

.input-button-container{
    display: flex;
    align-self: center;
    flex-flow: column wrap;
    width: 30%;
    height: 40%;
}

.input-container{
    width: 100%;
}

.buttons-container{
    display: flex;
    margin: 15px;
    justify-content: space-between;
}

.title-genre-button-container{
    display: flex;
    width: 45%;
    justify-content: space-around;
}

button > span{
    display: flex;
    flex-direction: row;
}

.btn_red{
    background-color: red
}
